body {
	font-family: 'Lora', serif;
	background-color: #f7f7f9; 
}
header {
  background-image: url("header.png");
  text-align: center;
  color: white; 
  font-size: 15px;
  padding: 15px;
  font-size:20px;
}
nav a {
  color: #242424;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
nav {
  text-align: center;
  padding-top: 10px;
}
h1 {
  color: #242424;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 3px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 40%;
  height: auto;
}
p {
  font-size: 10px;
  margin: 10px 20px 0px 20px;
  padding-bottom: 25px;
}
.beach img {
  width: 65%;
  height: auto;
}
.town img {
  width: 35%;
  height: auto;
}
.gondolas img {
  width: 35%;
  height: auto;
}
.maui {
  background-image: url("bluish-gray.jpg");
  color: #f7f7f9;
}
.maui h1 {
  color: #f7f7f9;
}
.reykjavik {
  background-color: #f7f7f9;
}
.aspen {
  background-image: url("aspen_article.png");
  color: #f7f7f9;
}
.aspen h1 {
  color: #f7f7f9;
}
.aspen p {
margin-bottom: 0px;
}
footer {
  background-color: #CCCCCC;
  padding-top: 20px;
  text-align: center;
  font-size: 10px;
  padding-bottom: 15px;
  font-weight: bold;
}
