body {
	
	margin: 0 auto;
}
.container {
	background-color: lightgray;
	border: 1px solid gray;
	height: 150px;
	margin: 10px;
}
.top {
	display: flex;
}
.bottom {
	display: flex;
}
.left,.right {
	height: 300px;
	flex-grow: 1;
}
.small-left,.small-center,.small-right{
	height: 200px;
	flex-grow: 1;
}

