body, html {
  height: 100%;
  margin: 0;
}

.container {
	display: flex;
}

#two-column .container {
  max-width: 740px;
  margin: 0 auto;

}
.column1 {
	width: 200px;
	border: 1px solid black;
	background-color: lightgray;
.column2
	
}
.head-row {
	justify-content: ;
}

#three-column .container {
  height: 200px;
}