body {
  width: 800px;
  margin: 0;
}
main {
  display: flex;  
}
.container {
  background: lightgray;
  border: 1px solid gray;
  height: 150px;
  margin: 10px;
}
.left,.right,.center {
  height: 400px;
}
.left {
  width: 200px;
}
.center {
  width: 600px;
}
.right {
  width: 200px;
}