

main {
  display: flex;
}

main .bottom {
  flex-grow: 1;
  height: auto;
}

main .right {
  flex-grow: 4;
}

main .middle {
  display: flex;
}

main .middle .bottom {
  flex-grow: 4;
  height: 250px;
}



